<div class="class-model" id="{{ id }}">
    <div class="class-heading">
        {{ name }}
    </div>

    {% if description %}
        <div class="class-description description">
            <p>{{ description }}</p>
        </div>
    {% endif %}
    {% if longDescription %}
        <p>{{ longDescription|raw }}</p>
    {% endif %}

    {% if isClass %}
        <ul>
            <li>
                Class name: {{ shortClass }}
            </li>
            <li>
                Namespace: {{ namespace }}
            </li>
            {% if abstract %}
                <li>
                    This is an <b>abstract</b> class
                </li>
            {% endif %}
            {% if extends[0] %}
                <li>
                    Parent class: {{ extends.0|classlink }}
                </li>
            {% endif %}
            {% if implements %}
                <li>
                    This class implements: {% for interface in implements %}{{ interface|classlink }}{% if not loop.last %}, {% endif %}{% endfor %}
                </li>
            {% endif %}
            {% if deprecated %}
                <li>
                    <b>Warning:</b> this class is </b>deprecated</b>. This means that this class will likely be removed in a future version.
                </li>
            {% endif %}
        </ul>
    {% endif %}

    {% if isInterface %}
        <p>
            This is an <b>interface</b>
        </p>
        <ul>

            <li>
                Interface name: <b>{{ shortClass }}</b>
            </li>
            <li>
                Namespace: <b>{{ namespace }}</b>
            </li>
            {% if extends %}
                <li>
                    This interface extends:
                    {% for interface in extends %}
                        <b>{{ interface|classlink }}</b>
                        {% if not loop.last %}, {% endif %}
                    {% endfor %}
                </li>
            {% endif %}

            {% if deprecated %}
                <li>
                    <b>Warning:</b> this interface is
                    <b>deprecated</b>. This means that this interface will likely be removed in a future version.
                </li>
            {% endif %}
        </ul>

    {% endif %}

    {% if constants %}
        Constants
        ----------
    {% endif %}

    {% for constant in constants %}

        ### {{ constant.name }}

        {{ constant.signature|raw }}

        {{ property.description|raw }}

        {% if constant.deprecated %}* **Warning:** this constant is **deprecated**. This means that this constant will likely be removed in a future version.
        {% endif %}

    {% endfor %}

    {% if properties %}
        <div class="properties-heading">
            Properties
        </div>
    {% endif %}

    {% for property in properties %}

        <div class="property-heading">
            <span class="property-signature">{{ property.visibility }}</span>
            <span>{% if property.type %}{{ property.type|classlink }}{% else %}mixed{% endif %}</span>
            <b>{{ property.name }}</b>
            {% if property.definedBy != className %}
                get property link to parent class
                <span> defined by {{ property.definedBy|classlink }}</span>
            {% endif %}
        </div>

        {% if property.definedBy == className %}

            {{ property.signature|raw }}

            {{ property.description|raw }}

            {% if property.deprecated %}* **Warning:** this property is **deprecated**. This means that this property will likely be removed in a future version.
            {% endif %}
            {% if property.static %}* This property is **static**.
            {% endif %}
            {% if property.definedBy != className %}* This property is defined by {{ property.definedBy|classlink }}
            {% endif %}
        {% endif %}



    {% endfor %}

    {% if methods %}
        <div class="methods-heading">
            Methods
        </div>
    {% endif %}

    {% for method in methods %}
        <div class="method-heading">
            <span class="method-signature">{{ method.visibility }}</span>
            <b>{{ method.name }}</b>
            {% if method.definedBy != className %}
                get method link to parent class
                <span> defined by {{ method.definedBy|classlink }}</span>
            {% endif %}
        </div>
        <div class="method-description">
            {{ method.description|raw }}
        </div>
        <div class="method-signature">
            {{ method.signature|raw }}
        </div>

        {% if method.definedBy == className %}

            {% if method.arguments %}
                <div class="method-arguments-heading">
                    Arguments:
                </div>
                <div class="method-arguments">
                    <ul>
                        {% for argument in method.arguments %}
                            <li>
                                {% if argument.type %}{{ argument.type|classlink }}{% else %}mixed{% endif %}
                                <b>{{ argument.name }}</b>
                                <span class="method-argument-description description">
                                    {% if argument.description %} - {{ argument.description }}{% endif %}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}


            <ul>
                {% if method.abstract %}
                    This method is <b>abstract</b>.
                {% endif %}
                {% if method.static %}
                    <li>
                        This method is <b>static</b>.
                    </li>
                {% endif %}
                {% if method.deprecated %}
                    <li>
                        <b>Warning:</b> this method is **deprecated**. This means that this method will likely be removed in a future version.
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    {% endfor %}
</div>
