<ul class="list-unstyled list-inline level-{{ level }}">
    {% if level == 0%}
        <li class="menu-item {% if page == "index" %}active{% endif %}">
            <a href="{{ basePath }}" title="Overview">
                overview
            </a>
        </li>
    {% endif %}
    {% set level = level + 1 %}
    {% for pageName,item in menu %}
        <li class="menu-item {% if page == pageName %}active{% endif %}">
            <a href="{{ basePath }}{{ item.folder }}" title="{{ item.name }}">
                {{ item.name }}
            </a>
        </li>
    {% endfor %}
</ul>